@primary-color: rgb(89,194,173);
@minor-color: rgb(20,100,100);
@path-color: rgba(243,98,43);

@bg-primary-color: rgb(245,255,255);
@bg-minor-color: #f2f2f2;
@bg-patch-color: #f8f8f8;

@text-primary-color: #333;
@text-minor-color: #666;
@text-patch1-color: #999;
@text-patch2-color: #ddd;

@border-primary-color: #f0f0f0;