@primary-color: #d4aa8e;
@minor-color: #14c8a5;
@path-color: #d72828;

@bg-primary-color: #faf7f5;
@bg-minor-color: #f2f2f2;
@bg-patch-color: #f8f8f8;

@text-primary-color: #605b52;
@text-minor-color: #666;
@text-patch1-color: #999;
@text-patch2-color: #ddd;

@border-primary-color: #f0f0f0;