@import '@/common/css/reset.css';
@import '@/common/css/common.css';
@import '@/common/css/color.less';
@import '@/common/css/apply.css';

page {
  min-height: 100%;
}
.home-page {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: @bg-minor-color;

  & .home-content {
    flex: 1;
    padding-bottom: 120rpx;
  }

	& .home-banner {
		padding: 24rpx;
		& .banner-img {
			display: block;
			width: 100%;
			height: 360rpx;
			border-radius: 24rpx;
		}
	}

  & .home-feature {
    padding: 0 24rpx;
		& .wrapper {
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			gap: 32rpx;
			background: white;
			border-radius: 24rpx;
			& .item {
				display: flex;
				flex-direction: column;
				align-items: center;
				& .icon-wrapper {
					width: 112rpx;
					height: 112rpx;
					border-radius: 56rpx;
					overflow: hidden;
				}
				& .icon {
					width: 112rpx;
					height: 112rpx;
				}
				& .text {
					font-size: 24rpx;
					line-height: 60rpx;
					color: #666666;
					white-space: nowrap;
				}
			}
		}
  }

  .home-recommend {
    margin-top: 48rpx;
    padding: 0 24rpx;
		& .header {
		  display: flex;
		  justify-content: space-between;
		  align-items: center;
		  margin-bottom: 32rpx;
			& .title {
			  font-size: 36rpx;
			  font-weight: 500;
			}
			& .more {
			  font-size: 28rpx;
			  color: rgb(20,200,165);
			}
		}

		& .list {
		  display: flex;
		  flex-direction: column;
		  gap: 32rpx;
			& .item {
			  display: flex;
			  padding: 24rpx;
			  background: #ffffff;
			  border-radius: 16rpx;
			  box-shadow: 0 2rpx 8rpx rgba(0, 0, 0, 0.05);
				& .image {
				  width: 160rpx;
				  height: 160rpx;
				  border-radius: 16rpx;
				}
				& .content {
				  flex: 1;
				  margin-left: 24rpx;
					& .item-title {
						font-size: 32rpx;
						font-weight: 500;
					}
					& .desc {
						font-size: 28rpx;
						color: #999999;
						margin-top: 8rpx;
					}
					& .stats {
						display: flex;
						align-items: center;
						margin-top: 16rpx;
						& .stats-text {
							font-size: 24rpx;
							color: #999999;
						}
						& .stats-dot {
							margin: 0 16rpx;
							color: #999999;
						}
					}
				}
			}
		}
  }
	
	.home-version {
		margin: 24rpx 0;
		color: #999;
		font-size: 12px;
		text-align: center;
	}
}
