@primary-color: rgb(20, 200, 165);
@minor-color: rgb(215, 40, 40);
@path-color: rgb(20, 100, 100);

@bg-primary-color: rgb(245, 255, 255);
@bg-minor-color: #f2f2f2;
@bg-minor-color: #f8f8f8;

@text-primary-color: rgb(0, 30, 28);
@text-minor-color: #666;
@text-patch1-color: #999;
@text-patch2-color: #ddd;

@border-primary-color: rgb(245, 255, 255);
@border-minor-color: rgb(240, 240, 240);