@primary-color: rgb(20, 200, 165);
@minor-color: rgb(215, 40, 40);
@path-color: rgb(20, 100, 100);

@bg-primary-color: rgb(245, 255, 255);

@text-primary-color: rgb(0, 30, 28);
@text-minor-color: rgb(96, 96, 96);
@text-patch-color: rgb(153, 153, 153);

@border-primary-color: rgb(245, 255, 255);
@border-minor-color: rgb(240, 240, 240);