@import '@/common/css/reset.css';
@import '@/common/css/common.css';
@import '@/common/css/color.less';
@import '@/common/css/apply.css';
.life_page {
  position: relative;
  color: @text-primary-color;
  & .uni-searchbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 20;
    background: white;
    border-top: 2rpx solid @border-primary-color;
    border-bottom: 2rpx solid @border-primary-color;
  }
  & .with_sub_module {
    height: calc(100vh - 200rpx - constant(safe-area-inset-bottom));
    height: calc(100vh - 200rpx - env(safe-area-inset-bottom));
  }
}
.life_page.with_header_bar {
  padding-top: 88rpx;
  & .uni-searchbar {
    top: 88rpx;
  }
}
.life_page.with_header_bar.with_search_bar {
  padding-top: 200rpx;
}
.life_page.with_footer_bar {
  & .with_sub_module {
    padding-bottom: 136rpx;
  }
}