@import '@/common/css/reset.less';
@import '@/common/css/common.less';
@import '@/common/css/color.less';
@import '@/common/css/apply.less';

.music_page {
  background: @bg-patch-color;
  height: 100vh;
  box-sizing: border-box;
  
  & .music_menu {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20rpx;
    padding: 24rpx;

    .card {
      display: flex;
      align-items: start;
      padding: 24rpx 12rpx;
      background: #fff;
      border-radius: 24rpx;
      box-shadow: 0 10rpx 40rpx rgba(0, 0, 0, 0.04);
      position: relative;
      .icon {
        width: 80rpx;
        height: 80rpx;
        border-radius: 12rpx;
        margin-right: 20rpx;
      }
      .info {
        flex: 1;
        display: flex;
        flex-direction: column;
      }
      .title {
        font-size: 30rpx;
        color: @text-primary-color;
        font-weight: 600;
        margin-bottom: 6rpx;
      }
      .desc {
        font-size: 24rpx;
        color: @text-patch1-color;
      }
    }
  }

  & .music_main {
    position: relative;

    & .header {
      padding: 24rpx;
      font-size: 32rpx;
      font-weight: 600;
      color: @text-primary-color;
    }

    & .list {
      margin-top: 12rpx;
      padding: 0 24rpx;
      & .card {
        display: flex;
        margin-bottom: 24rpx;
        & .cover {
          margin-right: 24rpx;
          width: 100rpx;
          height: 100rpx;
          border-radius: 12rpx;
        }
        & .body {
          flex: 1;
          display: flex;
          flex-direction: column;
          justify-content: center;
          & .title {
            font-size: 30rpx;
            color: @text-primary-color;
          }
          & .singer {
            font-size: 26rpx;
            color: @text-patch1-color;
          }
        }
      }
    }
  }
}