.swiper_item {
  position: absolute;
  left: 0;
}
.cover_view_stop {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cover_view_stop_iconfont {
  margin-top: -40px;
  color: #f3f3f3;
  font-size: 48px;
}

.video_action {
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0);
}

.video_content {
  position: absolute;
  bottom: 43px;
  left: 0;
  padding-left: 30px;
  padding-right: 30px;
}
.video_content_name {
  color: #FFFFFF;
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: bold;
}
.video_content_description_text {
  color: #eeeeee;
  font-size: 14px;
  lines: 2;
}