[Unit]
Description=Uni Spring Boot Application
After=network.target mysql.service

[Service]
Type=simple
User=root
WorkingDirectory=/opt/uni-spring-boot
ExecStart=/usr/bin/java -jar -Dspring.profiles.active=prod -Xms256m -Xmx512m /opt/uni-spring-boot/uni-spring-boot-0.0.1-SNAPSHOT.jar
Restart=on-failure
RestartSec=10
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
