@import '@/common/css/app.css';
@import '@/common/css/color.less';

.me_page {
  height: calc(100vh - 44px);
  padding: 15px 15px 76px;
  background: @bg-minor-color;
  color: @text-primary-color;
  box-sizing: border-box;
  & .user_info_box {
    display: flex;
    align-items: center;
    & .avatar {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      background: #eee;
      margin-right: 24px;
    }
    & .user_detail {
      flex: 1;
      & .user_name {
        margin-bottom: 8px;
        & .role_tag {
          display: inline-block;
          margin-left: 8px;
          background: #e6f9f4;
          color: #14C8A5;
          border-radius: 12px;
          padding: 2px 8px;
          font-size: 12px;
        }
      }
      & .user_phone {
        display: flex;
        align-items: center;
        margin-bottom: 8px;
        color: #14C8A5;
      }
      & .user_phone uni-icons {
        margin-right: 6px;
      }
    }
  }
  & .logout_button {
    margin-top: 64px;
    text-align: center;
    color: @text-patch1-color;
  }
}
