@import '@/common/css/common.less';
@import '@/common/css/color.less';


.video_play_popup {
  width: 100vw;
  height: calc(100vh - var(--window-top));
  overflow: hidden;  
  & .video_play_main {
    position: relative;
    width: 100vw;
    height: calc(100vh - var(--window-top));
    max-height: 100vh;
    background: #fff;
    border-radius: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    & .video_close_icon {
      position: absolute;
      top: 18rpx;
      right: 16rpx;
      width: 64rpx;
      height: 64rpx;
      border-radius: 50%;
      background: rgba(0,0,0,0.35);
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
      font-size: 44rpx;
      opacity: 0.8;
      z-index: 40;
    }
  }
  
}
