@import '@/common/css/color.less';
.tab-bar {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	background: white;
	border-top: 2rpx solid @border-minor-color;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	padding: 8rpx 16rpx;

	.tab-item {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		.uni-icons {
			color: @text-patch-color!important;
		}
		.tab-text {
			margin-top: 8rpx;
			font-size: 24rpx;
			color: @text-patch-color;
		}
	}
	.tab-item.active {
		.uni-icons {
			color: @primary-color!important;
		}
		.tab-text {
			color: @primary-color;
		}
	}
	.tab-item.main-tab {
		margin-top: -32rpx;
		.main-tab-wrapper {
			background: white;
			border-radius: 56rpx;
			box-shadow: 0 4rpx 12rpx rgba(0,0,0, 0.1);
			.main-tab-icon {
				width: 112rpx;
				height: 112rpx;
				background: -webkit-radial-gradient(@text-patch-color, white);
				border-radius: 56rpx;
				display: flex;
				align-items: center;
				justify-content: center;
				border: 1px solid white;
				opacity: 0.3;
			}	
		}
	}
	.tab-item.main-tab.active {
		.main-tab-wrapper {
			.main-tab-icon {
				background: -webkit-radial-gradient(@primary-color, white);
			}	
		}
	}
}