@import '@/common/css/variable.less';

.video_player_module3 {
  position: fixed;
  left: 0;
  right: 0;
  background-color: #000000;
}

.iconfont {
  font-size: 28rpx;
  font-family: iconfont;
}

.progress_bar {
  position: fixed;
  bottom: 4px;
  left: 0;
  right: 0;
  padding: 20px 0;
  z-index: 2000;
}

.progress_bar_box {
  position: relative;
  height: 4px;
  background-color: rgb(245,255,255);
  border-radius: 4px;
  overflow: hidden;
}

.progress_bar_inner {
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 4px;
  background-color: rgb(89,194,173);
  border-radius: 4px;
  overflow: hidden;
}

.progress_handle {
  position: absolute;
  top: 11px;
  width: 50px;
  height: 24px;
}