.swiper_item {
  position: absolute;
  left: 0;
  right: 0;
}
.cover_view_stop {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}
.cover_view_stop_iconfont {
  margin-top: -75px;
  color: #f3f3f3;
  opacity: 0.6;
  font-size: 150rpx;
  font-family: iconfont;
}

.video_image {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
}

.video_image_mask {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  background-color: #000000;
}

.video_action {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
}

.video_content {
  position: absolute;
  bottom: 43px;
  width: 690rpx;
  padding: 0 30rpx;
  z-index: 2000;
  text-overflow: ellipsis;
  overflow: hidden;
}
.video_content_name {
  color: #FFFFFF;
  font-size: 18px;
  margin-bottom: 10rpx;
  font-weight: bold;
}
.video_content_description_text {
  color: #eee;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 50rpx;
}