@import '@/common/css/reset.less';
@import '@/common/css/common.less';
@import '@/common/css/color.less';

.login_page {
  min-height: calc(100vh - constant(safe-area-inset-bottom));
  min-height: calc(100vh - env(safe-area-inset-bottom));
  color: @text-primary-color;
  background: @bg-minor-color;

  & .logo {
    width: 100%;
    height: 400rpx;
  }

  & .form {
    padding: 24rpx;

    & .form_card {
      display: flex;
      flex-direction: column;
      padding: 30rpx 30rpx 12rpx;
      border-radius: 16rpx;
      background: white;
      overflow: hidden;
    }

    & .form_item {
      display: flex;
      align-items: center;
      min-height: 88rpx;
      margin-bottom: 20rpx;
      border-bottom: 1px solid @border-primary-color;

      & .label {
        width: 120rpx;
        flex-shrink: 0;
        font-size: 28rpx;
        color: @text-patch1-color;
      }

      & .input {
        flex: 1;
        height: 72rpx;
        font-size: 28rpx;
        color: @text-primary-color;
      }
    }

    & .form_item.agree {
      margin-bottom: 12rpx;
      border-bottom: none;
      min-height: 64rpx;

      & .checkbox {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 36rpx;
        height: 36rpx;
        margin-right: 12rpx;
        flex-shrink: 0;
        border: 2rpx solid @text-patch1-color;
        border-radius: 6rpx;
        box-sizing: border-box;
        overflow: hidden;

        & .tick {
          width: 8rpx;
          height: 16rpx;
          margin-bottom: 4rpx;
          border-right: 3rpx solid #fff;
          border-bottom: 3rpx solid #fff;
          transform: rotate(45deg);
        }
      }

      & .checkbox.checked {
        border-color: @primary-color;
        background: @primary-color;
      }

      & .checkbox_wrap {
        display: flex;
        align-items: center;
        padding: 8rpx 0;
      }

      & .agree_text {
        font-size: 28rpx;
        line-height: 40rpx;
        color: @text-patch1-color;
      }

      & .agree_link {
        color: @primary-color;
      }
    }
  }

  & .login {
    margin-top: 44rpx;
    padding: 24rpx;
    color: white;
    font-size: 32rpx;
    font-weight: bold;
    text-align: center;

    & .button {
      padding: 20rpx 24rpx;
      background: @primary-color;
      border-radius: 100rpx;
      overflow: hidden;
    }

    & .button.disabled {
      background: @text-patch1-color;
    }
  }

  & .mock {
    padding: 6rpx 24rpx 12rpx;
    font-size: 14px;
    text-align: center;
    color: @text-patch1-color;
  }
}
