@import '@/common/css/reset.less';
@import '@/common/css/common.less';
@import '@/common/css/color.less';

.password_page {
  min-height: calc(100vh - constant(safe-area-inset-bottom));
  min-height: calc(100vh - env(safe-area-inset-bottom));
  color: @text-primary-color;
  background: @bg-minor-color;

  & .banner {
    width: 100%;
    height: 400rpx;
  }

  & .form {
    padding: 24rpx;
    & .uni-forms {
      display: flex;
      flex-direction: column;
      gap: 20px;
      padding: 30rpx 30rpx 12rpx;
      border-radius: 16rpx;
      background: white;
      overflow: hidden;
      & .uni-forms-item {
        & ::v-deep .uni-easyinput__content {
          border-radius: 16rpx;
          & .uni-easyinput__content-input {
            background: transparent!important;
          }
        }
        & .uni-label-pointer {
          display: flex;
          align-items: center;
          font-size: 28rpx;
          line-height: 32rpx;
          color: @text-patch1-color;
          vertical-align: middle;
          & ::v-deep .uni-checkbox-input {
            width: 36rpx;
            height: 36rpx;
            margin-right: 12rpx;
          }
          & uni-text {
            vertical-align: middle;
          }
        }
      }
      & .uni-forms-item:last-child {
        margin-bottom: 0;
      }
    }
  }

  & .submit {
    margin-top: 44rpx;
    padding: 24rpx;
    color: white;
    font-size: 32rpx;
    font-weight: bold;
    text-align: center;
    & .button {
      padding: 20rpx 24rpx;
      background: @primary-color;
      border-radius: 100rpx;
      overflow: hidden;
    }
    & .button.disabled {
      background: @text-patch1-color;
    }
  }
}