@import '@/common/css/reset.css';
@import '@/common/css/common.css';
@import '@/common/css/color.less';
@import '@/common/css/apply.css';

.password-page {
  min-height: 100vh;
  padding: 24rpx;
  background: @bg-minor-color;
  & .password-container {
    padding: 24rpx;
    background: white;
    border-radius: 16rpx;
    overflow: hidden;
		& .password-form {
			& label {
			  display: block;
			  margin-bottom: 12rpx;
			  color: @text-minor-color;
			  font-size: 30rpx;
			}
			& .uni-easyinput {
				// 深度选择器，避免 data-v 属性
				// & ::v-deep .is-input-border {
				& /deep/ .is-input-border {
					overflow: hidden;
				}
			}
			& input[type="password"] {
			  width: 100%;
			  padding: 16rpx 24rpx;
			  border: 2rpx solid @border-primary-color;
			  border-radius: 8rpx;
			  font-size: 30rpx;
			  box-sizing: border-box;
			}
			& .form-submit {
			  text-align: center;
			  margin-top: 120rpx;
				& .button {
					display: inline-block;
					width: 90%;
					height: 80rpx;
					background: @primary-color;
					color: white;
					border: none;
					border-radius: 8rpx;
					font-size: 32rpx;
					line-height: 88rpx;
					cursor: pointer;
					transition: background 0.2s;
				}
			}
		}
  }
}