@import '@/common/css/reset.css';
@import '@/common/css/common.css';
@import '@/common/css/color.less';
@import '@/common/css/apply.css';
.study-page {
	padding: 30rpx;
	color: @text-primary-color;
	.title {
		font-size: 36rpx;
		font-weight: bold;
	}
}