@import '@/common/css/reset.less';
@import '@/common/css/common.less';
@import '@/common/css/color.less';
@import '@/common/css/apply.less';
.study_page {
  position: relative;
  width: 100vw;
  height: calc(100vh - constant(safe-area-inset-bottom));
  height: calc(100vh - env(safe-area-inset-bottom));
  padding: 0;
  color: @text-primary-color;
  
  & .with_tab_module {
    height: calc(100vh - constant(safe-area-inset-bottom));
    height: calc(100vh - env(safe-area-inset-bottom));
  }

  & .swiper {
    height: 100%;
  }
}

.study_page.book {
  background: linear-gradient(180deg, #fefefe 0%, #f7f4ff 60%, #fdf5f2 100%);
}
.study_page.with_header_bar {
  padding-top: 88rpx;
  & .search_bar_module {
    top: 88rpx;
  }
  & .with_tab_module {
    height: calc(100vh - 88rpx - constant(safe-area-inset-bottom));
    height: calc(100vh - 88rpx - env(safe-area-inset-bottom));
  }
}
.study_page.with_header_bar.with_search_bar {
  padding-top: 200rpx;
  & .with_tab_module {
    height: calc(100vh - 200rpx - constant(safe-area-inset-bottom));
    height: calc(100vh - 200rpx - env(safe-area-inset-bottom));
  }
}
.study_page.with_footer_bar {
  padding-bottom: 144rpx;
  & .with_tab_module {
    padding-bottom: 144rpx;
  }
}